@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #18181B;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #F8D210;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 1rem;

    font-family: 'Poppins', sans-serif;
    padding: 24px 32px;
    border-radius: 30px;
    background: #e5e5e5;
}

.timer__part {
    color: #18181B;
    font-size: 36px;
    font-weight: bold;
}

.timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color:white;
    background: #df1f1f;
    cursor: pointer;
}

.timer__btn--start {
    background: #00b84c;
}

.timer__btn--stop {
    background: #ff0256;
}

.footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #F8D210;
    margin-bottom: 1rem;
}

