@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    margin: 24px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 1rem;
}

.header__title {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 25%;
    margin-bottom: 1rem;

    font-family: 'Poppins', sans-serif;
    weight: 300;
    padding: 24px 32px;
    border-radius: 30px;
    background: #fff;
}

.timer__part {
    font-size: 36px;
    font-weight: bold;
}

.timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color:white;
    background: #df1f1f;
    cursor: pointer;
}

.timer__btn--start {
    background: #00b84c;
}

.timer__btn--stop {
    background: #ff0256;
}

